<main class="flex-shrink-0">
    <div class="container-fluid">
        <div
                id="geolonia_geojson"
                class="geolonia"
                data-geojson="/json/<%= fileName %>.geojson"
        ></div>
    </div>
</main>