<main class="flex-shrink-0">
    <div class="container">
        <div
                id="geolonia_geojson"
                class="geolonia"
                data-geojson="/json/museum_location.geojson"
        ></div>
    </div>
</main>