<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col">
                <div
                        class="geolonia"
                        data-lat="35.675888"
                        data-lng="139.744858"
                        data-zoom="12"
                >国会議事堂</div>
                <div>Embed API について</div>
            </div>
            <div class="col">
                <div
                        class="geolonia"
                        data-lat="35.675888"
                        data-lng="139.744858"
                        data-zoom="12"
                        data-lang="en"
                >国会議事堂</div>
                <div>国際化</div>
            </div>
            <div class="col">
                <div
                        class="geolonia"
                        data-geojson="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_week.geojson"
                ></div>
                <div>GeoJSON</div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col">
                <div
                        class="geolonia"
                        data-lat="35.675888"
                        data-lng="139.744858"
                        data-zoom="12"
                        data-pitch="60"
                        data-style="geolonia/midnight"
                >国会議事堂</div>
                <div>スタイルについて</div>
            </div>
            <div class="col">
                <div class="geolonia"></div>
                <div>はじめての地図を設置する</div>
            </div>
            <div class="col">
                <div
                        class="geolonia"
                        data-lat="34.652499"
                        data-lng="135.506306"
                        data-zoom="16"
                ></div>
                <div>地図の中心地点の緯度経度を指定する</div>
            </div>
        </div>

        <hr/>

        <div class="row">
            <div class="col">
                <div
                        class="geolonia"
                        data-lat="34.652499"
                        data-lng="135.506306"
                        data-zoom="16"
                        data-marker="off"
                ></div>
                <div>マーカーを非表示にする</div>
            </div>
            <div class="col">
                <div
                        class="geolonia"
                        data-lat="34.652499"
                        data-lng="135.506306"
                        data-zoom="16"
                >ここは <strong>通天閣</strong> です。</div>
                <div>ポップアップを表示する</div>
            </div>
            <div class="col">
                <div
                        class="geolonia"
                        data-lat="34.652499"
                        data-lng="135.506306"
                        data-zoom="16"
                        data-pitch="60"
                >ここは <strong>通天閣</strong> です。</div>
                <div>地図の角度を指定する</div>
            </div>
        </div>
    </div>

    <hr/>

</main>
<!--<div-->
<!--        class="geolonia"-->
<!--        data-geojson="https://earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_week.geojson"-->
<!--&gt;</div>-->