.geolonia {
    width: 100%;
    height: 400px;
}

#geolonia_geojson {
    height: 800px;
}

#text-button {
    display: block;
    cursor: pointer;
    width: 160px;
    text-align: center;
    border: 1px solid #232323;
    padding: 10px;
}