<main class="flex-shrink-0">
    <div class="container">
        <div
                id="map"
                data-lat="35.6759"
                data-lng="139.7449"
                data-zoom="14"
        ></div>
    </div>
</main>